<div style="padding-top: 10px">
    <div class="row">
        <h1>Lista de empleados</h1>
    </div>
    <div class="row">
        <table class="table table-striped">
            <thead>
                <th>Identificacion</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Asignado</th>
            </thead>
            <tbody>
                {{#each empleados}}
                <tr>
                    <td>{{this.Identificacion}}</td>
                    <td>{{this.nombre}}</td>
                    <td>{{this.Apellido}}</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>