<!--TODO no sé qué es esta vista-->
<h1>Asignar Empleados</h1>
<span class="bg-warning form-control">Esta a punto de poner en modificar los empleados en el pedido</span>

{{> replica/detalle detalles}}

<label for="asignacion">
    <h3>Asignar empleados</h3>
</label>
<br>
<label for="empleadosasignados">Empleados asignados:</label>
<div class="form-group bg-secondary">

</div>
<label for="empleadossinasignar">Empleados disponibles:</label>
<div class="form-group bg-secondary">

</div>