<h1 class="mt-4">Pedido de Replicación Nº {{id}} - Cancelar Replicación</h1>
<form action="/pedidos/{{accion}}/{{id}}" method="post">
  <div class="card-body">
    <!--Observación-->
    <p class="card-text">Ingrese Observación:</p>
    <textarea class="form-control" placeholder="Ingrese Observación" name="observacion" rows="5"></textarea>
    <br>
    <div class="modal fade" id="myModal">
      <div class="modal-dialog modal-xl">
        <div class="modal-content modal-xl">
          <!-- Modal body -->
          <div class="modal-body">
            {{> replica/detalle detalles}}
          </div>

          <!-- Botón Cerrar -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <!--Botón de Cancelar Replicación-->
  <div class="row justify-content-center">
    <div class="col-6 text-center">
      <button type="submit" class="btn btn-success btn-block">Cancelar Replicación</button>
    </div>
  </div>
</form>