{{!-- @TODO Nunca pasamos por esta vista. Pasamos del Presupuestado al Confirmado cuando hacemos click en "Fabricar"--}}
<h1 class="mt-4">Pedido de Replicación Nº {{id}} - Confirmar Pedido de Replicación</h1>
{{!-- @TODO averiguar si este confimar deberia ser {{accion}} --}}
<span class="bg-warning form-control">confirmar el siguiente pedido</span>
<br>
{{> replica/detalle detalles}}
<br>
<div class="row justify-content-center">
    <div class="col-6 text-center">
        <form action="/pedidos/{{accion}}/{{id}}" method="post">
            <button type="submit" class="btn btn-success btn-block">Confirmar</button>
        </form>
    </div>
</div>