<form action="/pedidos/{{accion}}/{{id}}" method="post">
  <div class="container pt-4">
    <div class="row">
      <div class="card mx-auto mt-4 text-center">
        <div class="card-header bg-secondary text-white">
          <h2>Demorar Replicacion</h2>
        </div>
        <div class="card-body">
          {{!-- @TODO @ALEX cambiar a botones --}}
          <div class="btn-toolbar-vertical justify-content-between" role="toolbar"
              aria-label="Toolbar with button groups">
              <div class="btn-group" role="group">
                <input type="radio" name="retraso_estimado" value="2 a 4 meses">2 de 4 meses
              </div>
            </div>
            <div class="btn-toolbar-vertical justify-content-between" role="toolbar"
              aria-label="Toolbar with button groups">
              <div class="btn-group" role="group">
                <input type="radio" name="retraso_estimado" value="4 a 6 meses">4 de 6 meses
              </div>
            </div>
            <div class="btn-toolbar-vertical justify-content-between" role="toolbar"
              aria-label="Toolbar with button groups">
              <div class="btn-group" role="group">
                <input type="radio" name="retraso_estimado" value="6 a 10 meses">6 de 10 meses
              </div>
            </div>
            <div class="btn-toolbar-vertical justify-content-between" role="toolbar"
              aria-label="Toolbar with button groups">
              <div class="btn-group" role="group">
                <input type="radio" name="retraso_estimado" value=" mas de 10 meses">mas de 10 meses
              </div>
            </div>
              <p class="card-text">Ingrese Observacion:</p>
              <textarea class="form-control   " placeholder="Ingrese Observacion..." name="observacion"
                rows="5"></textarea>
          <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">
            Ver Detalle
          </button>
        </div>
        <div class="card-footer bg-dark text-muted">
          <button type="submit" class="btn btn-success">Confirmar</button>
          <a href="/replicas" class="btn btn-danger">Rechazar</a>
        </div>
      </div>
    </div>

  </div>
</form>


<div class="modal fade" id="myModal">
  <div class="modal-dialog modal-xl">
    <div class="modal-content modal-xl">

      <!-- Modal body -->
      <div class="modal-body">
        {{> replica/detalle detalles}}
      </div>
    
    </div>
  </div>
</div>