<h1 class="mt-4">Pedido de Replicación Nº {{id}} - Demorar Replicación</h1>
<span class="bg-warning form-control">{{accion}} el siguiente pedido</span>
<form action="/pedidos/{{accion}}/{{id}}" method="post">
  <div class="card-body justify-content-start">
    {{!-- @TODO @ALEX cambiar a botones --}}
    <input type="radio" name="retraso_estimado" value="2 a 4 meses" required>2 de 4 meses <br>
    <input type="radio" name="retraso_estimado" value="4 a 6 meses">4 de 6 meses <br>
    <input type="radio" name="retraso_estimado" value="6 a 10 meses">6 de 10 meses <br>
    <input type="radio" name="retraso_estimado" value=" mas de 10 meses">mas de 10 meses <br>
    <p class="card-text">Ingrese Observación:</p>
    <textarea class="form-control" placeholder="Ingrese Observación" name="observacion" rows="5"></textarea>
    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">Ver
      Detalle</button>
  </div>
  <!-- Botón de Demorar -->
  <div class="row justify-content-end">
    <div class="col-6">
      <button type="submit" class="btn btn-success btn-block">Demorar</button>
    </div>
  </div>
</form>



<div class="modal fade" id="myModal">
  <div class="modal-dialog modal-xl">
    <div class="modal-content modal-xl">

      <!-- Modal body -->
      <div class="modal-body">
        {{> replica/detalle detalles}}
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
      </div>

    </div>
  </div>
</div>