<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pedido de Replicación - Demorar Replicación</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>

  <div class="container mt-4">
    <h1 class="mb-4">Pedido de Replicación Nº {{id}} - Demorar Replicación</h1>
    <div class="alert alert-warning" role="alert">
      {{accion}} el siguiente pedido
    </div>
    <form action="/pedidos/{{accion}}/{{id}}" method="post">
      <div class="card">
        <div class="card-body">
          <p class="card-text">Motivo:</p>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="motivo_demora" id="motivoPresupuestario"
              value="Presupuestario" required>
            <label class="form-check-label" for="motivoPresupuestario">
              Presupuestario
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="motivo_demora" id="motivoFaltaPersonal"
              value="Falta Personal" required>
            <label class="form-check-label" for="motivoFaltaPersonal">
              Falta de Personal
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="motivo_demora" id="motivoFaltaMaterial"
              value="Falta Material" required>
            <label class="form-check-label" for="motivoFaltaMaterial">
              Falta de Material
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="motivo_demora" id="motivoOtros" value="Otros" required>
            <label class="form-check-label" for="motivoOtros">
              Otros
            </label>
          </div>
          <br>
          <p class="card-text">Ingrese Observación:</p>
          <textarea class="form-control" placeholder="Ingrese Observación" name="observacion" rows="5"></textarea>
          <br>
        </div>
      </div>
      <br>
      <!-- Botón de Demorar -->
      <div class="row justify-content-center">
        <div class="col-6 text-center">
          <button type="submit" class="btn btn-success btn-block">Demorar</button>
        </div>
      </div>
    </form>
  </div>
</body>

</html>




<div class="modal fade" id="myModal">
  <div class="modal-dialog modal-xl">
    <div class="modal-content modal-xl">

      <!-- Modal body -->
      <div class="modal-body">
        {{> replica/detalle detalles}}
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
      </div>

    </div>
  </div>
</div>