<form class="pt-3" action="/pedidos?_method=PUT" method="POST">
    <span class="bg-warning form-control">Esta a punto de poner en fabricacion el siguiente pedido</span>

    <div style="padding-top: 10px">
        <div class="row">
            <h1>Edicion de empleados al pedido</h1>
        </div>
        <div class="row">
            <table class="table table-striped">
                <thead>
                    <th>Asignado</th>
                    <th>Identificacion</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                </thead>
                <tbody id="listaEmpleados">
                </tbody>
            </table>
        </div>
    </div>
    {{#if id}}<input name="idPedido" type="number" value="{{id}}" hidden> {{/if}}
    <button type="submit" class="btn btn-success">Confirmar</button>
    <a href="/pedidos" class="btn btn-secondary">Rechazar</a>
</form>
<script>
    $(document).ready(() => {
        fetch(`http://localhost:3000/pedidos/empleados`, { mode: "cors" })//necesito a todos los empleados
            .then((res) => {
                return res.json();
            })
            .then((json) => {
                let arr = [];
                let contenedor = document.getElementById("listaEmpleados");
                contenedor.innerHTML = "";
                const entries = Object.entries(json);
                for (var key in json) {
                    arr.push(generateCheckbox(json[key].id, json[key].Persona.identificacion, json[key].Persona.nombre, json[key].Persona.apellido))
                    arr.push("<br>")
                }
                contenedor.innerHTML = arr.toString().replace(/[,]/gm, '');
            })
        

    });

    function generateCheckbox(id, identificacion, nombre, apellido) {
        return `<tr><td><input type="checkbox" name="empleado" value="${id}" id="${id}"></td><td>${identificacion}</td><td>${nombre}</td><td>${apellido}</td></tr>`;
    }
</script>

<script>
    $(document).ready(() => {
        
        fetch(`http://localhost:3000/pedidos/{{id}}/empleados`, { mode: "cors" })//necesito a todos los empleados
            .then((res) => {
                return res.json();
            })
            .then((json) => {
                let arr = [];
                let contenedor = document.getElementById("listaEmpleados");
                const entries = Object.entries(json);
                for (var key in json) {
                    $( `#${json[key].id}`).prop( "checked", true );
                }
            })
    });
</script>