<h1 class="mt-4">Pedido de Replicación Nº {{id}} - Entregar pedido</h1>
<span class="bg-warning form-control">{{accion}} el siguiente pedido</span>

<form action="/pedidos/{{accion}}/{{id}}" method="post">
  <label for="fecha_envio" class="col-form-label">Fecha de Envío</label>
  <input class="form-control" type="date" name="fecha_envio" id="InputFechaEnvio" required>
  <label for="fecha_entrega" class="col-form-label">Fecha de Entrega</label>
  <input class="form-control" type="date" name="fecha_entrega" id="InputFechaEntrega" required>
  <button type="button" class="btn btn-info my-4" data-toggle="modal" data-target="#myModal">
    Ver Detalle
  </button>
  <!-- Botón de Entregar -->
  <div class="row justify-content-end">
    <div class="col-6 text-right">
      <button type="submit" class="btn btn-success btn-lg">Entregar</button>
    </div>
  </div>
</form>

<div class="modal fade" id="myModal">
  <div class="modal-dialog modal-xl">
    <div class="modal-content modal-xl">
      <!-- Modal body -->
      <div class="modal-body">
        {{> replica/detalle detalles}}
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<script>
  //Setea la fecha actual como mínima de "Fecha Envío"
  $(document).ready(function () {
    var hoy = formatDate(new Date());
    document.getElementById("InputFechaEnvio").setAttribute("min", hoy);
    $("#InputFechaEnvio").attr("min", hoy);
  })
  //Setea la fecha de inicio como mínima de la "Fecha Fin" 
  $("#InputFechaEnvio").change(function () {
    document.getElementById("InputFechaEntrega").setAttribute("min", this.value);
  })
  function formatDate(date) {
    var d = new Date(date),
      month = '' + (d.getMonth() + 1),
      day = '' + d.getDate(),
      year = d.getFullYear();
    if (month.length < 2)
      month = '0' + month;
    if (day.length < 2)
      day = '0' + day;
    return [year, month, day].join('-');
  }
</script>