<div class="container pt-4">
  <form action="/pedidos/{{accion}}/{{id}}" method="post">

  <div class="card mx-auto mt-4 text-center">
    <div class="card-header bg-dark text-white">
      <h2>Entregar Replicacion</h2>
    </div>
    <div class="card-body">
      <span class="bg-info form-control text-center text-white">Esta a punto de {{accion}} el siguiente
        pedido</span>
      <h5 class="card-title pt-2">Pedido de Replicacion Nº {{id}}</h5>
      <div class="row">
        <div class="container col-8">
          <div class="form-group">
            <label for="example-date-input" class="col-form-label">Fecha de Envio</label>
            <div class="col">
              <input class="form-control" type="date" name="fecha_envio" id="InputFechaEnvio">
            </div>
          </div>
          <div class="form-group">
            <label for="example-date-input" class="col-form-label">Fecha de Entrega</label>
            <div class="col">
              <input class="form-control" type="date" name="fecha_entrega" id="InputFechaEntrega">
            </div>
          </div>
        </div>
      </div>
      <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">
        Ver Detalle
      </button>
      <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-xl">
          <div class="modal-content modal-xl">
            <!-- Modal body -->
            <div class="modal-body">
              {{> replica/detalle detalles}}
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer bg-dark text-muted">
        <button type="submit" class="btn btn-success">Confirmar</button>
        <a href="/pedidos" class="btn btn-danger">Rechazar</a>
    </div>
  </div>

  <script>
    // setea la fecha actual como mínima de "Fecha Envío"
    $(document).ready(function () {
      var hoy = formatDate(new Date());
      document.getElementById("InputFechaEnvio").setAttribute("min", hoy);
      $("#InputFechaEnvio").attr("min", hoy);

    })
    //setea la fecha de inicio como mínima de la "Fecha Fin" 
    $("#InputFechaEnvio").change(function () {
      document.getElementById("InputFechaEntrega").setAttribute("min", this.value);
    })

    function formatDate(date) {
      var d = new Date(date),
        month = '' + (d.getMonth() + 1),
        day = '' + d.getDate(),
        year = d.getFullYear();

      if (month.length < 2)
        month = '0' + month;
      if (day.length < 2)
        day = '0' + day;

      return [year, month, day].join('-');
    }
  </script>

  </form>
</div>