<h1 class="mt-4">Pedido de Replicación Nº {{id}} - Fabricar Replicación</h1>
<span class="bg-warning form-control">{{accion}} el siguiente pedido</span>
<form action="/pedidos/{{accion}}/{{id}}" method="post">

    {{> replica/detalle detalles}}
    <label class="form-group" for="inicio">
        Fecha Inicio
        <input class="form-control" type="date" name="fechainicio" id="InputFechaInicio" required>
    </label>
    <label class="form-group" for="fin">
        Fecha Fin
        <input class="form-control" type="date" name="fechafin" id="InputFechaFin" required>
    </label>
    <br>
    <label for="asignacion">
        <h3>Asignar empleados</h3>
    </label>
    <br>

    <label for="empleadosasignados">Empleados asignados:</label>
    {{!-- @TODO completar con empleados asignados --}}
    <div class="form-group bg-secondary">

    </div>
    <label for="empleadossinasignar">Empleados disponibles:</label>
    <div class="container border">
        <div class="row">
            <div class="col-sm border" style="height: 21vh; overflow: auto">
                <label for="empleados" id="listaEmpleados">

                </label>
            </div>
        </div>
    </div>
    <small>Se puede agregar despues.</small><br>
    <button type="submit" class="btn btn-success btn-block">Confirmar</button>
    <a href="/pedidos" class="btn btn-secondary btn-block">Volver</a>
</form>

<script>
    $(document).ready(() => {
        fetch(`/pedidos/empleados`, { mode: "cors" })//necesito a todos los empleados
            .then((res) => {
                return res.json();
            })
            .then((json) => {
                let arr = [];
                let contenedor = document.getElementById("listaEmpleados");
                contenedor.innerHTML = "";
                const entries = Object.entries(json);
                for (var key in json) {
                    arr.push(generateCheckbox(json[key].id, json[key].Persona.nombre, json[key].Persona.apellido))
                    arr.push("<br>")
                }
                contenedor.innerHTML = arr.toString().replace(/[,]/gm, '');
            })

    });

    function generateCheckbox(id, nombre, apellido) {
        return `<input type="checkbox" name="empleado" value="${id}"> ${nombre}  ${apellido}`;
    }
</script>

<script>
    // setea la fecha actual como mínima de "Fecha Inicio"
    $(document).ready(function () {
        var hoy = formatDate(new Date());
        document.getElementById("InputFechaInicio").setAttribute("min", hoy);
        $("#InputFechaInicio").attr("min", hoy);

    })
    //setea la fecha de inicio como mínima de la "Fecha Fin" 
    $("#InputFechaInicio").change(function () {
        document.getElementById("InputFechaFin").setAttribute("min", this.value);
    })

    function formatDate(date) {
        var d = new Date(date),
            month = '' + (d.getMonth() + 1),
            day = '' + d.getDate(),
            year = d.getFullYear();

        if (month.length < 2)
            month = '0' + month;
        if (day.length < 2)
            day = '0' + day;

        return [year, month, day].join('-');
    }
</script>