<form action="/pedidos/{{accion}}/{{id}}" method="post">
    <div class="container pt-4">
        <div class="row">
            <div class="card mx-auto mt-4 text-center">
                <div class="card-header bg-dark text-white">
                    <h2>Finalizar Replicacion</h2>
                </div>
                <div class="card-body">
                    <span class="bg-info form-control text-center text-white">Esta a punto de {{accion}} el
                        siguiente
                        pedido</span>
                    <h5 class="card-title pt-2">Pedido de Replicacion Nº {{id}}</h5>
                    <div class="row pb-4">
                        {{!-- @TODO CAMBIAR @ALEX --}}
                        <div class="container col-8">
                            <label for="fechafin">
                                <h6 class="pb-2">Fecha Finalizacion de Replica</h6>
                                <input class="form-control" type="date" name="fecha_fin" id="InputFechaFinalizacion">
                            </label>
                        </div>

                    </div>
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">
                        Ver Detalle
                    </button>
                    <div class="modal fade" id="myModal">
                        <div class="modal-dialog modal-xl">
                            <div class="modal-content modal-xl">

                                <!-- Modal body -->
                                <div class="modal-body">
                                    {{> replica/detalle detalles}}
                                </div>

                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-dark text-muted">
                    <button type="submit" class="btn btn-success">Confirmar</button>
                    <a href="/pedidos" class="btn btn-danger">Volver</a>
                </div>
            </div>
        </div>
    </div>
</form>

<script>

    // setea la fecha actual como fecha máxima de "finalización"


    $(document).ready(function () {
        var hoy = formatDate(new Date());
        document.getElementById("InputFechaFinalizacion").setAttribute("max", hoy);
        $("#InputFechaFinalizacion").attr("max", hoy);
    })

    function formatDate(date) {
        var d = new Date(date),
            month = '' + (d.getMonth() + 1),
            day = '' + d.getDate(),
            year = d.getFullYear()

        if (month.length < 2)
            month = '0' + month;
        if (day.length < 2)
            day = '0' + day;

        return [year, month, day].join('-');
    }
</script>