<div class="container">
    <form action="/exhibiciones" method="POST">
        <div class="card mt-4">
            <h3>Agregar Exhibicion</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <div class="form-group">

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group btn btn-block">
                    <button type="submit" class="btn btn-succes btn-block">
                        Agregar exhibicion
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>