<div class="container">
  <form action="/exhibiciones" method="POST">
    <div class="card mt-4">
      <div class="card-header text-center bg-dark text-white" id="agregarDinoModalLabel">
        <h3>Editar Exhibicion</h3>
      </div>
      <div class="card-body">
        <div class="form-group">
          <label for="nombre">Nombre:</label>
          <input type="text" name="nombre" id="" class="form-control" placeholder="Nombre de la exhibicion">
          <label for="tematica">Tematica:</label>
          <input type="text" name="tematica" id="" class="form-control" placeholder="Tematica de la tematica">
          <label for="duracion">Duracion:</label>
          <input type="text" name="duracion" id="" class="form-control" placeholder="Duracion de la exhibicion">
        </div>
        <div class="form-group container">
          <div class="row">
            <div class="col-6" style="padding-left:0px">
              <label for="fosiles">Listado de fosiles disponibles:</label>
              <div class="col-sm border" style="height: 21vh; overflow: auto">
                {{!-- @TODO agregar fosiles --}}
              </div>
            </div>
            <div class="col-6">
              <label for="replicas">Listado de replicas disponibles:</label>
              <div class="col-sm border" style="height: 21vh; overflow: auto">
                {{!-- @TODO agregar replicas --}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
      <button type="submit" class="btn btn-success btn-block">Agregar Exhibicion!</button>
      </div>
    </div>
</div>
</form>
</div>