<div class="container">
  <form action="/exhibiciones?_method=DELETE" method="POST">
    <div class="card mt-4">
      <div class="card-header text-center bg-dark text-white" id="agregarDinoModalLabel">
        <h3>Eliminar Exhibición</h3>
      </div>
      <div class="card-body">
       Seguro que desea eliminar la exhibición llamada "<b>{{exh.nombre}}</b>"?
      </div>
      <div class="card-footer">
        <input type="hidden" name="id" value="{{id}}" hidden>
      <button type="submit" class="btn btn-danger">Eliminar Exhibición</button>
      <a href="/exhibiciones" class="btn btn-secondary col-2">Cancelar</a>
      </div>
    </div>
</div>
</form>
</div>