<footer class="fixed-bottom text-light bg-dark pt-4" style="height:20vh">
  <div class="container-fluid text-center text-md-left">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-12 mt-md-0 mt-3">
        <h5 class="text-uppercase">Contenido</h5>
        <p>Info aca.</p>
      </div>
      <div class="col-md-3 col-sm-3 mb-md-0 mb-3">        
        <h5 class="text-uppercase">Links</h5>
        <ul class="list-unstyled">
          <li><a href="#!">Link 1</a></li>
          <li><a href="#!">Link 2</a></li>
          <li><a href="#!">Link 3</a></li>
          <li><a href="#!">Link 4</a></li>
        </ul>
      </div>    
      <div class="col-md-3 col-sm-3 mb-md-0 mb-3">        
        <h5 class="text-uppercase">Links</h5>
        <ul class="list-unstyled">
          <li><a href="#!">Link 1</a></li>
          <li><a href="#!">Link 2</a></li>
          <li><a href="#!">Link 3</a></li>
          <li><a href="#!">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div>  
</footer>
