<div class="form-group">
    <div class="btn-group-vertical btn-group-toggle">
        <label class="btn btn-secondary active" data-toggle="button"  aria-pressed="false">
            <input class="form-check-input" type="checkbox" name="tiposecundario" value="Torax" checked autocomplete="off" required>Torax
        </label>
        <label class="btn btn-secondary active" data-toggle="button"  aria-pressed="false">
            <input class="form-check-input" type="checkbox" name="tiposecundario" value="Vertebral" checked autocomplete="off">Vertebral
        </label>
        <label class="btn btn-secondary active" data-toggle="button"  aria-pressed="false">
            <input class="form-check-input" type="checkbox" name="tiposecundario" value="Craneo" checked autocomplete="off" >Craneo
        </label>
        <label class="btn btn-secondary active" data-toggle="button"  aria-pressed="false">
            <input class="form-check-input" type="checkbox" name="tiposecundario" value="Pelvis" checked autocomplete="off" >Pelvis
        </label>
        <label class="btn btn-secondary active" data-toggle="button"  aria-pressed="false">
            <input class="form-check-input" type="checkbox" name="tiposecundario" value="Brazo" checked autocomplete="off" >Brazo
        </label>
        <label class="btn btn-secondary active" data-toggle="button"  aria-pressed="false">
            <input class="form-check-input" type="checkbox" name="tiposecundario" value="Manos" checked autocomplete="off" >Manos
        </label>
        <label class="btn btn-secondary active" data-toggle="button"  aria-pressed="false">
            <input class="form-check-input" type="checkbox" name="tiposecundario" value="Piernas" checked autocomplete="off" >Piernas
        </label>
        <label class="btn btn-secondary active" data-toggle="button"  aria-pressed="false">
            <input class="form-check-input" type="checkbox" name="tiposecundario" value="Pies" checked autocomplete="off" >Pies
        </label>
    </div>
</div>