<div class="form-group">
      <h2>Lista de huesos (Obligatorio)</h2>
      <label>Cantidad de Vertebras Cervicales:</label> <input type="number" min="1" max="100" name="cant_cervicales" value="1" placeholder="cantidad de huesos" required><br>
      <label>Cantidad de Vertebras Dorsales:</label> <input type="number" min="1" max="100" name="cant_dorsales" value="1" placeholder="cantidad de huesos" required><br>
      <label>Cantidad de Vertebras Sacras:</label> <input type="number" min="1" max="100" name="cant_sacras" value="1" placeholder="cantidad de huesos" required><br>
      <label>Cantidad de Vertebras Caudales:</label> <input type="number" min="1" max="100" name="cant_caudales" value="1" placeholder="cantidad de huesos" required><br>
      <label>Cantidad de Costillas Cervicales:</label> <input type="number" min="1" max="100" name="cant_cos_cervicales" value="1" placeholder="cantidad de huesos" required><br>
      <label>Cantidad de Costillas Dorsales:</label> <input type="number" min="1" max="100" name="cant_cos_dorsales" value="1" placeholder="cantidad de huesos" required><br>
      <label>Cantidad de Hemales:</label> <input type="number" min="1" max="100" name="cant_hemales" value="1" placeholder="cantidad de huesos" required><br>
      <label>Cantidad de Metacarpianos:</label> <input type="number" min="1" max="100" name="cant_metacarpianos" value="1" placeholder="cantidad de huesos" required><br>
      <label>Cantidad de Metatarsales:</label> <input type="number" min="1" max="100" name="cant_metatarsos" value="1" placeholder="cantidad de huesos" required><br>
      <label>Cantidad de Dedos Mano:</label> <input type="number" min="1" max="100" name="cant_dedos_mano" value="1" placeholder="cantidad de huesos" required><br>
      <label>Cantidad de Dedos Pie:</label> <input type="number" min="1" max="100" name="cant_dedos_pata" value="1" placeholder="cantidad de huesos" required><br>      
</div>