{{#if label}}<label>{{label}}</label>{{/if}}
{{#if input}}
<input 
    type="text" 
    name="descripcion" 
    class="form-control" 
    placeholder="Ingrese Descripcion Subclase" 
    style="display: block"
    value="funciono we" 
    required>
{{/if}}     
{{#if small}}        
<small id="descripcion">{{small}}</small>
{{/if}}