<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Mef</a>
  <div class="navbar-brand">
    {{#if coleccion}}
      coleccion
    {{/if}}
    {{#if exhibicion}}
      exhibicion
    {{/if}}
    {{#if secretaria}}
      secretaria
    {{/if}}
    {{#if taller}}
      taller
    {{/if}}
    {{#if rrhh}}
      rrhh
    {{/if}}
  </div>
  

  <form method="POST" action="/logout?_method=DELETE">
    <button type="submit" class="btn btn-danger">
      Cerrar Sesion
    </button>
  </form>
</nav>
