<nav class="navbar navbar-dark bg-dark">

  
  <a class="navbar-brand" href="/">Mef -
    {{#if coleccion}}
    Colección
    {{/if}}
    {{#if exhibicion}}
    Exhibición
    {{/if}}
    {{#if secretaria}}
    Secretaría
    {{/if}}
    {{#if taller}}
    Taller
    {{/if}}
    {{#if rrhh}}
    Recursos Humanos
    {{/if}}
  </a>

  <div class="d-flex">
    <a href="/" class="btn btn-primary mr-2">
      Pantalla Inicial
    </a>
    
    <form method="POST" action="/logout?_method=DELETE">
      <button type="submit" class="btn btn-danger">
        Cerrar Sesión
      </button>
    </form>
  </div>


</nav>