<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Mef</a>
  <div class="navbar-brand">
  </div>
  

  <form method="POST" action="/logout?_method=DELETE">
    <button type="submit" class="btn btn-danger">
      Cerrar Sesion
    </button>
  </form>
</nav>