<div class="bg-light border-right" id="sidebar-wrapper">
	<div class="list-group list-group-flush">
		<a href="/dinosaurios/agregarDino" class="list-group-item list-group-item-action bg-light">Agregar Dinosaurio</a>
		<a href="#" class="list-group-item list-group-item-action bg-light">Lista de Dinosaurios</a>
		<a href="#" class="list-group-item list-group-item-action bg-light">Lista de Subclases</a>
		<a href="#" class="list-group-item list-group-item-action bg-light">Agregar Subclase</a>
		<a href="#" class="list-group-item list-group-item-action bg-light border">Agregar Huesos</a>
	</div>
</div>