<div class="bg-light border-right" id="sidebar-wrapper">
	<div class="list-group list-group-flush">
		<a href="/dinosaurios" class="list-group-item list-group-item-action bg-light">Gestion dinosaurios</a>
		<a href="/fosiles" class="list-group-item list-group-item-action bg-light">Gestion fosiles</a>
		<a href="#" class="list-group-item list-group-item-action bg-light">Gestion subclases</a>
	</div>
</div>