<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Mef 2019 </title>
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  {{!-- FONTAWESOME --}}
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  {{!-- BOOTSTRAP --}}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  {{!-- JQUERY --}}
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>

  {{!-- datatables --}}
  {{!--
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css"> --}}

  {{!-- POPPER --}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>

  <script src="https://kit.fontawesome.com/fc4af98715.js" crossorigin="anonymous"></script>
  {{!-- BOOTSTRAP --}}
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

</head>

<body class="{{template}}">
  <div class="container-fluid d-flex flex-column">
    <div class="row">
      <div class="col-12 px-0">
        {{> navbar req}}
      </div>
    </div>

    {{#if errores}}
    <div class="row">
      <div class="col-12 px-0">
        <div class="alert alert-danger">Error: {{ errores }} {{#with mostrarAltaLogica}}<a
            style="text-decoration: underline; cursor: pointer;"
            onclick="document.getElementById('altaLogica').checked=true;document.getElementById('alta').submit();">Dar
            de alta a la persona previamente cargada.</a>{{/with}}</div>
      </div>
    </div>
    {{/if}}
    {{#if success }}
    <div class="row">
      <div class="col-12 px-0">
        <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin: 0;">
          {{ success }}
        </div>
      </div>
    </div>
    {{/if}}
    <div class="row justify-content-center flex-grow-1 pb-auto">
      <aside class="col-2 px-0">
        {{> sidebar req}}
      </aside>
      <div class="col-10 px-4">
        {{{body}}}
      </div>
    </div>
  </div>

  <style>
    body,
    html,
    .container-fluid {
      height: 100vh;
    }
  </style>
</body>
{{!-- https://stackoverflow.com/questions/11677886/twitter-bootstrap-div-in-container-with-100-height --}}

</html>