<div class="jumbotron pt-4 mt-4 mx-auto text-center ">
    <h1 class="display-2"> <i class="fas fa-ban"></i><br> 403</h1>
    <p class="lead">Parece que estas queriendo acceder a un sitio que al cual no tenes acceso.</p>
    <a href="/" class="btn btn-primary btn-lg">Volver a la pantalla de Inicio.</a>
</div>