<div class="jumbotron pt-4 mt-4">
    <h1 class="display-5">Oh, ha ocurrido un error... Pero no pasa nada</h1>
    <p class="lead">Parece que lo que buscas no pudo ser encontrado! Que picardia che!</p>
    <a href="/" class="btn btn-primary btn-lg">Ir a un lugar seguro!</a>
</div>