<div style="padding-top: 10px">
        <div class="jumbotron">
                <h1 class="display-4 text-center">Bienvenido</h1>
                <p class="lead text-center">Haga clic en un boton abajo para ir a la seccion correspondiente.</p>
                <hr class="my-4">
                {{!-- @TODO agregar una imagen o ilustracion --}}
        </div>
</div>