{{#if rol}}
<div class="alert alert-success">
    <p>Bienvenide {{rol}}! Buen dia! </p>
</div>
{{/if}}
<div style="padding-top: 10px">
<div class="jumbotron">
  <h1 class="display-4">Seleccione una seccion para continuar!</h1>
  <p class="lead">Haga clic en un boton abajo para ir a la seccion correspondiente.</p>
  <hr class="my-4">
  <a class="btn btn-primary btn-lg" href="/dinosaurios" role="button">Dinosaurios</a>
  <a class="btn btn-primary btn-lg" href="/fosiles" role="button">Fosiles</a>
  <a class="btn btn-primary btn-lg" href="/clientes" role="button">Usuarios</a>
  <a class="btn btn-primary btn-lg" href="/subclases" role="button">Subclases</a>
  <a class="btn btn-primary btn-lg" href="/empleados" role="button">Empleados</a>
  <a class="btn btn-primary btn-lg" href="/replicas" role="button">Replicas</a>
</div>
</div>