{{#if rol}}
<div class="alert alert-success">
  <p>Bienvenido {{rol}}! Buen dia! </p>
</div>
{{/if}}
<div style="padding-top: 10px">
  <div class="jumbotron">
    <h1 class="display-4 text-center">Bienvenido</h1>
    <p class="lead text-center">Haga clic en un boton abajo para ir a la seccion correspondiente.</p>
    <hr class="my-4">
    <div class="card-columns pt-4">
      <a class="card bg-info btn btn-info btn-lg" style="height: 80px;" href="/dinosaurios" role="button">
        <i class="fas fa-dragon align-top"></i>
        Dinosaurios
      </a>
      <a class="card bg-success btn btn-success btn-lg" style="height: 80px;" href="/fosiles" role="button">
        <i class="fas fa-bone"></i>
        Fosiles
      </a>
      <a class="card bg-success btn btn-success btn-lg" style="height: 80px;" href="/clientes" role="button">
        <i class="fas fa-user"></i>
        Clientes
      </a>
      <a class="card bg-info btn btn-info btn-lg" style="height: 80px;" href="/subclases" role="button">
        <i class="fas fa-chevron-circle-down"></i>
        Subclases
      </a>
      <a class="card bg-info btn btn-info btn-lg" style="height: 80px;" href="/pedidos" role="button">
        <i class="fas fa-highlighter"></i>
        Pedido de Replicacion
      </a>
      <a class="card bg-success btn btn-info btn-lg" style="height: 80px;" href="/guias" role="button">
        <i class="fas fa-user"></i>
        Guias
      </a>
    </div>
  </div>

</div>