{{#if req.session.rol}}
<div class="alert alert-success">
  <p>Bienvenido {{req.session.rol}}! Buen dia! </p>
</div>
{{/if}}
<div style="padding-top: 10px">
<div class="jumbotron">
  <h1 class="display-4 text-center">Bienvenido</h1>
  <p class="lead text-center">Haga clic en un boton abajo para ir a la seccion correspondiente.</p>
  <hr class="my-4">
  <div class="card-columns pt-4" id="links">
    
    
    
  
    
  </div>  
</div>

</div>

<script>
  let dinosaurios = `<a class="card bg-info btn btn-info btn-lg" style="height: 80px;" href="/dinosaurios" role="button"><i class="fas fa-dragon align-top"></i>Dinosaurios</a>`;
  let fosiles = `<a class="card bg-success btn btn-success btn-lg" style="height: 80px;" href="/fosiles" role="button"><i class="fas fa-bone"></i>Fosiles</a>`;
  let empleados = `<a class="card bg-success btn btn-info btn-lg" style="height: 80px;" href="/empleados" role="button"><i class="fas fa-user"></i>Empleados</a>`;
  let clientes = `<a class="card bg-success btn btn-success btn-lg" style="height: 80px;" href="/clientes" role="button"><i class="fas fa-user"></i>Clientes</a>`;
  let pedidos = `<a class="card bg-info btn btn-info btn-lg" style="height: 80px;" href="/pedidos" role="button"><i class="fas fa-highlighter"></i>Pedidos</a>`;
  let visitas = `<a class="card bg-success btn btn-info btn-lg" style="height: 80px;" href="/visita" role="button"><i class="fas fa-user"></i>Visitas Guiadas</a>`;
  let subclases = `<a class="card bg-info btn btn-info btn-lg" style="height: 80px;" href="/subclases" role="button"><i class="fas fa-chevron-circle-down"></i>Subclases</a>`;
  let guias = `<a class="card bg-success btn btn-info btn-lg" style="height: 80px;" href="/guias" role="button"><i class="fas fa-user"></i>Guias</a>`;
  let exhibiciones = `<a class="card bg-success btn btn-info btn-lg" style="height: 80px;" href="/exhibiciones" role="button"><i class="fas fa-dragon"></i>Exhibiciones</a>`;
  //rrhh
  $(document).ready(function(){
    let rol = "{{req.session.rol}}";
    switch(rol){
      case 'rrhh':
        $('#links').append(clientes+empleados+guias) 
        break;
      case 'exhibicion':
        $('#links').append(dinosaurios+fosiles+pedidos+exhibiciones) 
        break;
      case 'secretaria': 
        $('#links').append(guias+visitas+exhibiciones) 
        break; 
      case 'taller': 
        $('#links').append(dinosaurios+empleados+pedidos) 
        break; 
      case 'coleccion': 
        $('#links').append(dinosaurios+subclases+fosiles) 
        break;
      default:
        console.log("error")
    }
  })

</script>