{{#if error}}
<div class="alert alert-danger">
    {{error}}
</div>
{{/if}}

<div class="container-fluid">
    <div class="row">
        <div class="col-7 bg-secondary d-flex justify-content-center align-items-center slider">
            <!-- Imagen fija no crece ni disminuye -->
            <!-- <img src="../img/palomitas.jpg" width="100px" height="100px" alt=""> -->
            <!-- Imagen crece y disminuye conforme sea la pantalla de grande -->
            <img class="img-fluid" src="../images/logo mef.png" alt="" />
        </div>
        <div class="col-5 mt-2 bg-dark">
            <nav class="navbar navbar-dark bg-dark">
                <a class="navbar-brand" href="/" style="font-family: serif;">Mef</a>
            </nav>
            <div class="col-12 my-5 mb-5">
                <h2 class="text-center display-4 text-description font-weight-bold">
                    Bienvenido!
                </h2>
            </div>

            <form class="col-8 mx-auto" action="/login" method="POST">
                <p class="text-description mb-4" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
                    El Mef es un centro de actividades científicas, con
                    entretenimiento para toda la familia.
                </p>
                <input name="email" type="email" class="form-control my-4 text-center" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="Ingrese mail" {{#if email}} value="{{email}}" {{/if}} required />
                <input name="password" type="password" class="form-control my-4 text-center" id="exampleInputPassword1"
                    placeholder="Contraseña" required />

                <div class="form-group">
                    <button type="submit" class="btn btn-light btn-block">
                        Ingresar
                    </button>
                </div>

                <ul class="list-unstyled list-inline text-center mt-5">
                    <li class="list-inline-item">
                        <a href="https://www.facebook.com/mefpatagonia/">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.instagram.com/mefpatagonia/?hl=es-la">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://twitter.com/mefpatagonia?lang=es">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.youtube.com/channel/UCS36BW2WmvMZxJTvw5jTMfw">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</div>