<h1>Asignar Empleados</h1>
<span class="bg-warning form-control">Esta a punto de poner en modificar los empleados en el pedido</span>
<h2>Detalles del pedido</h2>
<table class="table">
    <thead>
        <th>#</th>
        <th>Dino</th>
        <th>Huesos</th>
        <th>Detalles</th>
    </thead>
    <tbody>
        <tr></tr>
        <tr></tr>
    </tbody>
</table>
<label for="asignacion">
    <h3>Asignar empleados</h3>
</label>
<br>
<label for="empleadosasignados">Empleados asignados:</label>
<div class="form-group bg-secondary">

</div>
<label for="empleadossinasignar">Empleados disponibles:</label>
<div class="form-group bg-secondary">

</div>