<h1>Demorar Pedido</h1>
<span class="bg-warning form-control">Esta a punto de poner de demorar el pedido</span>

{{> replica/detalle}}

<button class="btn btn-primary">Confirmar</button>
<button class="btn btn-secondary">Rechazar</button>