<form action="/replicas/pedidos/{{accion}}/{{id}}" method="put">
    <h1>Fabricar Pedido</h1>
    <span class="bg-warning form-control">Esta a punto de editar a los empleados trabajando sobre el pedido</span>
    {{> replica/detalle detalles}}
    <div style="padding-top: 10px">
        <div class="row">
            <h1>Empleados</h1>
        </div>
        <div class="row">
            <table class="table table-striped">
                <thead>
                    <th>Identificacion</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Asignado</th>
                </thead>
                <tbody id="listaEmpleados">
  
                </tbody>
            </table>
        </div>
    </div>
    
    <label for="empleadossinasignar">Empleados trabajando en el pedido:</label>
    <div class="container border">
        <div class="row">
            <div class="col-sm border" style="height: 21vh; overflow: auto">
                aca poner los empleados que si estan trabajando en el pedido
            </div>
            <div class="col-sm border">
                aca poner los empleados que no estan trabajando
            </div>
        </div>
    </div>



    <button type="submit" class="btn btn-success">Confirmar</button>
    <a href="/replicas" class="btn btn-secondary">Rechazar</a>
</form>

<script>
    $(document).ready(() => {
        fetch(`http://localhost:3000/replicas/empleados`, { mode: "cors" })//necesito a todos los empleados
            .then((res) => {
                return res.json();
            })
            .then((json) => {
                let arr = [];
                let contenedor = document.getElementById("listaEmpleados");

                contenedor.innerHTML = "";
                const entries = Object.entries(json);
                for (var key in json) {
                    empleado = {
                        identificacion: json[key].id,
                        nombre: json[key].Persona.nombre,
                        apellido: json[key].Persona.apellido
                    }

                    arr.push(generateCheckbox(json[key].id, json[key].Persona.nombre, json[key].Persona.apellido))
                }
                contenedor.innerHTML = arr.toString().replace(/,*/gm,"");
            })
    });

    function generateCheckbox(id, nombre, apellido) {
        return `<tr><td>${id}</td><td>${nombre}</td> <td>${apellido}</td><td><input type="checkbox" name="empleado" value="${id}"></td></tr>`;
    }
</script>