<h1>Entregar Pedido</h1>
<span class="bg-warning form-control">Esta a punto de poner de entregar el pedido</span>
{{> replica/detalle}}
<label for="fechaenvio">
    Fecha envio <input class="form-control" type="date" name="fechaenvio" id="">
</label>
<label for="fechaentrega">
    Fecha entrega <input class="form-control" type="date" name="fechaentrega" id="">
</label>

<button class="btn btn-primary">Confirmar</button>
<button class="btn btn-secondary">Rechazar</button>