<h1>Fabricar Pedido</h1>
<span class="bg-warning form-control">Esta a punto de poner en fabricacion el siguiente pedido</span>
{{> replica/detalle}}
<label for="inicio">
    Fecha Inicio 
    <input class="form-control" type="date" name="fechainicio" id="">
</label>
<label for="fin">
    Fecha Fin 
    <input class="form-control" type="date" name="fechafin" id="">
</label>
<br>
<label for="asignacion">
    <h3>Asignar empleados</h3>
</label>
<br>
<label for="empleadosasignados">Empleados asignados:</label>
<div class="form-group bg-secondary">

</div>
<label for="empleadossinasignar">Empleados disponibles:</label>
<div class="form-group bg-secondary">

</div>