<h1>Fabricar Pedido</h1>
<span class="bg-warning form-control">Esta a punto de poner en fabricacion el siguiente pedido</span>
<h2>Detalles del pedido</h2>
<table class="table">
    <thead>
        <th>#</th>
        <th>Dino</th>
        <th>Huesos</th>
        <th>Detalles</th>
    </thead>
    <tbody>
        <tr>
            <td>{{this.id}}</td>
            <td>{{this.Dino}}</td>
            <td>{{this.Huesos}}</td>
            <td>{{this.Detalles}}</td>
        </tr>
    </tbody>
</table>

<label for="inicio">
    Fecha Inicio
    <input class="form-control" type="date" name="fechainicio" id="">
</label>
<label for="fin">
    Fecha Fin
    <input class="form-control" type="date" name="fechafin" id="">
</label>
<br>
<label for="asignacion">
    <h3>Asignar empleados</h3>
</label>
<br>
<label for="empleadosasignados">Empleados a asignar:</label>
<div class="form-group bg-secondary">
    <div class="container border">
        <div class="row">
            <div class="col-sm border" style="height: 21vh; overflow: auto">
                <label for="empleados" id="listaEmpleados">
                    lautaro <br>
                    Alex <br>
                    Doni <br>
                    Locas <br>
                    lautaro <br>
                    Alex <br>
                    Doni <br>
                    Locas <br>
                    lautaro <br>
                    Alex <br>
                    Doni <br>
                    Locas <br>
                    lautaro <br>
                    Alex <br>
                    Doni <br>
                    Locas <br>
                    lautaro <br>
                    Alex <br>
                    Doni <br>
                    Locas <br>
                </label>
            </div>
        </div>
    </div>
</div>