<h1>Facturar Pedido de replicacion</h1>
<br>
<form action="/replicas" method="POST">
    <div class="card">
        <div class="container border">
            <h2>Detalles del pedido</h2>
            <br>
            <div class="col-sm border" style="height: 21vh; overflow: auto">
                <table class="table">
                    <thead>
                        <th>#</th>
                        <th>Dino</th>
                        <th>Huesos</th>
                        <th>Detalles</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>qw</td>
                            <td>asd</td>
                            <td>asdf</td>
                            <td>qwrtyu</td>
                            <td>asdfghj</td>
                        </tr>
                        <tr>
                            <td>qw</td>
                            <td>asd</td>
                            <td>asdf</td>
                            <td>qwrtyu</td>
                            <td>asdfghj</td>
                        </tr>
                        <tr>
                            <td>qw</td>
                            <td>asd</td>
                            <td>asdf</td>
                            <td>qwrtyu</td>
                            <td>asdfghj</td>
                        </tr>
                        <tr>
                            <td>qw</td>
                            <td>asd</td>
                            <td>asdf</td>
                            <td>qwrtyu</td>
                            <td>asdfghj</td>
                        </tr>
                        <tr>
                            <td>qw</td>
                            <td>asd</td>
                            <td>asdf</td>
                            <td>qwrtyu</td>
                            <td>asdfghj</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br>
            <h2>Detalles del Cliente</h2>
            <div class="row">
                <div class="col">
                    <label for="nombreCliente">Cliente</label>
                    <input class="form-control" type="text" name="nombreCliente" id="" value="nombre_Cliente" disabled>
                </div>
                <div class="col">
                    <label for="clienteCuil">Cuil</label>
                    <input class="form-control" type="number" name="clienteCuil" id="" value="111111111" disabled>
                </div>
            </div>
            <br>
            <h2>Asignar empleados</h2>
            <br>
            <div class="container border">
                <div class="row">
                    <div class="col-sm border" style="height: 21vh; overflow: auto">
                        <label for="empleados" id="listaEmpleados">

                        </label>
                    </div>
                    <div class="col-sm border">
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm">
                    <label for="fin-oferta">Fecha estimada de inicio:</label>
                    <input class="facturar form-control" type="date" name="inicioEstimado" id="" required />
                </div>
                <div class="col-sm">
                    <label for="fin-oferta">Fecha estimada de finalizacion:</label>
                    <input class="facturar form-control" type="date" name="finEstimado" id="" required />
                </div>
            </div>
            <br>
            <h2>Detalles del Pago</h2>
            <br>
            <label for="tipopago">Tipo de Pago: <br>
                <div class="btn-group btn-group-toggle pt-3" data-toggle="buttons">
                    <label class="btn btn-secondary">
                        <input class="form-check-input" type="radio" name="pago" value="Cheque" id="option1"
                            autocomplete="off" required> CHEQUE
                    </label>
                    <label class="btn btn-secondary">
                        <input class="form-check-input" type="radio" name="pago" value="Efectivo" id="option2"
                            autocomplete="off">
                        EFECTIVO
                    </label>
                </div>
            </label>
            <br>
            <br>
            <label for="presupuesto">Monto Presupuestado</label>
            <input class="form-control" type="number" name="presupuesto" id="" value="monto" disabled>
            <label for="monto">Monto Pagado</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                </div>
                <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                <div class="input-group-append">
                    <span class="input-group-text">.00</span>
                </div>
            </div>
            <br>
            <button type="submit" class="btn btn-success form-control">Facturar</button>
        </div>
    </div>
</form>