<h1>Facturar Pedido de replicacion</h1>

{{> replica/detalle detalles}}

<form action="/replicas/pedidos/{{accion}}/{{id}}" method="post">
<h2>Detalles del Pago</h2>
<label for="tipopago" >Tipo de Pago: <br>
<input class="form" type="radio" name="tipopago" id="" value="Efectivo"> Efectivo
<input class="form" type="radio" name="tipopago" id="" value="Cheque"> Cheque
</label>

<br>
<label for="presupuesto">Valor Presupuestado</label>
<input class="form-control" type="number" name="presupuesto" id="" value="1200" disabled>
<label for="monto">Valor Pagado</label>
<input class="form-control" type="number" name="monto" min="0" id="" placeholder="Ingrese monto">

<button type="submit" class="btn btn-success form-control" >Facturar</button>
</form>
