<h1>Reanudar Pedido</h1>
<span class="bg-warning form-control">Esta a punto de poner de {{accion}} el pedido # {{id}}</span>

{{> replica/detalle detalles}}

<form action="/replicas/pedidos/{{accion}}/{{id}}" method="post">

<button type="submit" class="btn btn-primary">Confirmar</button>
<a href="/replicas" class="btn btn-secondary">Rechazar</a>
</form>