<div class="container">
    <form class="pt-3" action="/fosiles" method="POST">
        <div class="card mx-auto mt-4 text-center">
            <div class="card-header bg-dark text-white text-center">
                <h3>Agregar Fosil</h3>
            </div>
            <div class="card-body">

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="font-weight-bold" for="dinosaurio">Seleccionar Dinosaurio</label>
                            <select class="form-control" name="DinosaurioId" id="dinosaurioId">

                                {{#each results}}
                                <option value="{{this.id}}">{{this.nombre}}</option>
                                {{/each}}

                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="hueso">Seleccionar Hueso</label>
                            <select class="form-control" name="huesos" id="huesoId">

                                {{#each bones}}
                                <option value="{{this}}">{{this}}</option>
                                {{/each}}

                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="font-weight-bold" for="InputNumeroColeccion">Numero de Coleccion</label>
                            <input type="text" class="form-control" name="numero_coleccion" id="InputNumeroColeccion"
                                placeholder="Ingrese Numero de Coleccion" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="InputPeso">Peso (Kg)</label>
                            <input type="number" class="form-control" name="peso" id="InputPeso"
                                placeholder="Ingrese Peso de Fosil" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="fecha_encontrado" class="col-form font-weight-bold">Fecha Encontrado</label>
                            <div>
                                <input class="form-control" type="date" name="fecha_encontrado" id = "fechaEncontrado" min="1800-01-01">
                            </div>

                            <label class="pt-3 text-center font-weight-bold">Disponible:</label>
                            <div class="btn-group btn-block btn-group-toggle pt-2" data-toggle="buttons">
                                <label class="btn btn-secondary form-check-label">
                                    <input type="radio" name="disponible" id="option1" value="true" autocomplete="off"
                                        required>
                                    Si
                                </label>
                                <label class="btn btn-secondary form-check-label">
                                    <input type="radio" name="disponible" id="option2" value="false" autocomplete="off">
                                    No
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="observacion">observaciones</label><br>
                            <textarea class="form-control" name="observacion" id="" cols="number" rows="5"
                                placeholder="Ingrese observaciones"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-center">
                        <button type="submit" class="btn btn-success form-control">Agregar Fosil</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>



<script>
    // setea la fecha actual


    $(document).ready(function () {
        var hoy = formatDate(new Date());
        document.getElementById("fechaEncontrado").setAttribute("max", hoy);
        $("#fechaEncontrado").attr("max", hoy);
    })

    function formatDate(date) {
        var d = new Date(date),
            month = '' + (d.getMonth() + 1),
            day = '' + d.getDate(),
            year = d.getFullYear();

        if (month.length < 2)
            month = '0' + month;
        if (day.length < 2)
            day = '0' + day;

        return [year, month, day].join('-');
    }

</script>