<div class="container mt-4">
  <form class="pt-3" action="/fosiles" method="POST">
    <div class="card mx-auto mt-4">
      <div class="card-header bg-secondary text-white">
        <h3 class="text-center">Agregar Fósil</h3>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="font-weight-bold" for="dinosaurio">Seleccionar Dinosaurio</label>
              <select class="form-control" name="DinosaurioId" id="dinosaurioId">
                {{#each results}}
                <option value="{{this.id}}">{{this.nombre}}</option>
                {{/each}}
              </select>
              <small class="form-text-muted text-muted">Dinosaurio de referencia</small>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="font-weight-bold" for="hueso">Seleccionar Hueso</label>
              <select class="form-control" name="huesos" id="huesoId">
                {{#each bones}}
                <option value="{{this}}">{{this}}</option>
                {{/each}}
              </select>
              <small class="form-text-muted text-muted">Hueso de referencia</small>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="font-weight-bold" for="InputNumeroColeccion">Código de Colección</label>
              <input type="text" class="form-control" maxlength="30" name="numero_coleccion" id="InputNumeroColeccion"
                placeholder="Ingrese Número de Colección" required>
              <small class="form-text-muted text-muted">Máximo 30 caracteres. Se puede repetir el código.</small>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="font-weight-bold" for="InputPeso">Peso (en Kilogramos)</label>
              <input type="number" min="1" max="2000" class="form-control" name="peso" id="InputPeso"
                placeholder="Ingrese Peso de Fósil." required>
              <small class="form-text-muted text-muted">Mínimo 1 kg y Máximo 2000 kg</small>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="fecha_encontrado" class="col-form font-weight-bold">Fecha Encontrado</label>
              <div>
                <input class="form-control" type="date" name="fecha_encontrado" id="fechaEncontrado" min="1800-01-01">
              </div>
              <label class="pt-3 text-center font-weight-bold">Disponible para exhibición:</label>
              <div class="btn-group-toggle pt-2 justify-content-around" data-toggle="buttons">
                <label class="btn btn-secondary px-5">
                  <input type="radio" name="disponible" value="true" autocomplete="off" checked required>
                  Sí
                </label>
                <label class="btn btn-secondary px-5">
                  <input type="radio" name="disponible" value="false" autocomplete="off">
                  No
                </label>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="font-weight-bold" for="observacion">Observaciones</label><br>
              <textarea class="form-control" name="observacion" maxlength="140" cols="number" rows="5"
                placeholder="Ingrese observaciones"></textarea>
              <small class="form-text-muted text-muted">Opcional, Máximo 140 caracteres.</small>

            </div>
          </div>
        </div>
        <!-- Botón de Agregar -->
        <div class="form-group">
          <div class="row justify-content-end">
            <div class="col-6">
              <button type="submit" class="btn btn-success btn-sm btn-block">Agregar Fósil</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>



<script>
  // setea la fecha actual como la fecha máxima de "encontrado".


  $(document).ready(function () {
    var hoy = formatDate(new Date());
    document.getElementById("fechaEncontrado").setAttribute("max", hoy);
    $("#fechaEncontrado").attr("max", hoy);
  })

  function formatDate(date) {
    var d = new Date(date),
      month = '' + (d.getMonth() + 1),
      day = '' + d.getDate(),
      year = d.getFullYear();

    if (month.length < 2)
      month = '0' + month;
    if (day.length < 2)
      day = '0' + day;

    return [year, month, day].join('-');
  }

</script>