<!-- Modal -->
<div class="modal fade" id="editar{{this.id}}" tabindex="-1" role="dialog" aria-labelledby="agregarModalTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="agregarModalTitle">Editar Subclase</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <form action="/subclases?_method=PUT" method="POST">
        <div class="modal-body">
    <div class="form-group">
        <label>Descripcion:</label>
        <br>
        <input class="form-control" type="text" name="descripcion" placeholder="Ingrese Descripcion Subclase"
            value='{{this.descripcion}}' required>
        <br>
        <small id="descripcion">Nombre de la subclase</small>
    </div>

    <label>Clase:</label>
    <br>
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-secondary form-check-label mr-2">
            <input type="radio" name="clase" id="option1" value="Saurisquio" autocomplete="off" required> Saurisquio
        </label>
        <label class="btn btn-secondary form-check-label">
            <input type="radio" name="clase" id="option2" value="Ornitisquio" autocomplete="off"> Ornitisquio
        </label>
    </div>
    <div class="form-group pt-4">
        <input type="number" name="id" value="{{this.id}}" hidden required>
    </div>
    </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div>
