body, html {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    background: #343a40;
    /* background-size: cover; */
    /* background-position: center; */
    color: #fff;
}

.text-description {
    letter-spacing: 2px;
    font-family: Helvetica;    
}

.form-control {
    background: transparent !important;
    color: #fff !important;
}

.btn-block {
    background: #C0C0C0;
}

a .fab {
    color: #ffc;
    font-size: 30px;
    margin: 0 15px;
}
.slider {
    background: url("../images/logo-mef.png");
    /* Ocupara toda la altura disponible */
    height: 100vh;
    /* La imagen de adapte al tamaño del despoditivo */
    background-size: cover;
    /* La imagen estara centrada */
    background-position: center;
  }