<h2>Detalles del pedido</h2>
<table class="table">
    <thead>
        <th>#</th>
        <th>Dino</th>
        <th>Huesos</th>
        <th>Detalles</th>
    </thead>
    <tbody>
        <tr></tr>
        <tr></tr>
    </tbody>
</table>