<h2>Detalles del pedido</h2>
<div style="max-height: 40vh; overflow:auto">
    <table class="table">
        <thead>
            <th>Cantidad</th>
            <th>Hueso</th>
            <th>Pedido</th>
            <th>Descripción</th>
        </thead>
        <tbody>
            {{#each this}}
            <tr>
                <td>{{this.dataValues.cantidad}}</td>
                <td>{{this.dataValues.Hueso.dataValues.nombre}}</td>
                <td>{{this.dataValues.Pedido.dataValues.tipo}}</td>
                <td>{{this.dataValues.Pedido.dataValues.motivo}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>