<form action="" method="post">
    <div class="form-group">
        Cantidad de Vertebras Cervicales: <input type="number" name="cervicales">
        Cantidad de Vertebras Dorsales: <input type="number" name="dorsales">
        Cantidad de Vertebras Sacras: <input type="number" name="sacras">
        Cantidad de Vertebras Caudales: <input type="number" name="caudales">
        Cantidad de Costillas Cervicales: <input type="number" name="cos_cervicales">
        Cantidad de Costillas Dorsales: <input type="number" name="cos_dorsales">
        Cantidad de Hemales: <input type="number" name="hemales">
        Cantidad de Metacarpianos: <input type="number" name="metacarpianos">
        Cantidad de Metatarsales: <input type="number" name="metatarsos">
        Cantidad de Dedos Mano: <input type="number" name="dedos_mano">
        Cantidad de Dedos Pata: <input type="number" name="dedos_pata">  
    </div>

</form>


{{!-- 
Cantidad de Vertebras Cervicales:
Cantidad de Vertebras Dorsales:
Cantidad de Vertebras Sacras:
Cantidad de Vertebras Caudales:
Cantidad de Costillas Cervicales:
Cantidad de Costillas Dorsales:
Cantidad de Hemales:
Cantidad de Metacarpianos:
Cantidad de Metatarsales:
Cantidad de Dedos Mano:
Cantidad de Dedos Pie: 


--}}