<form class="pt-3" action="/subclases" method="POST">
<div class="form-group">
   <label>Descripcion</label>
   <input type="text" name="descripcion" placeholder="Ingrese Descripcion Subclase" required >
   <small id="descripcion">Hola mundo</small>
</div>

<div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="col-4 mr-5">Clase:</label>
        <label class="btn btn-secondary form-check-label">
            <input type="radio" name="clase" id="option1" value="Saurisquio" autocomplete="off" required> Saurisquio
        </label>
        <label class="btn btn-secondary form-check-label">
            <input type="radio" name="clase" id="option2" value="Ornitisquio" autocomplete="off"> Ornitisquio
        </label>
    </div>
    <button type="submit" class="btn btn-primary">Agregar Subclase!</button>
</form>
