<div class="container pt-4">
  <form action="/subclases?_method=PUT" method="POST">
    <div class="row">
      <div class="col-8 mx-auto">
        <div class="card mx-auto">
          <div class="card-header bg-dark text-white text-center">
            <h3>Editar Subclase</h3>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="form-group col pb-4">
                <label class="font-weight-bold">Descripcion:</label>
                <input type="text" name="descripcion" class="form-control" placeholder="Ingrese Descripcion Subclase"
                  style="display: block" required {{#if subclase}} value="{{subclase.descripcion}}" {{/if}}>
              </div>
            </div>

            <div class="row">
              <div class="col pb-4">
                <label class="col text-center font-weight-bold pb-2">Clase:</label>
                <div class="btn-group btn-group-toggle btn-block pb-4" data-toggle="buttons">
                  <div class="btn btn-secondary form-check-label">
                    <input type="radio" name="clase" id="option1" value="Saurisquio" autocomplete="off" required>
                    Saurisquio
                  </div>
                  <label class="btn btn-secondary form-check-label">
                    <input type="radio" name="clase" id="option2" value="Ornitisquio" autocomplete="off">
                    Ornitisquio
                  </label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col pb-2">
                <button type="submit" class="btn btn-success btn-block form-control">Guardar Cambios</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
