<div class="alert alert-danger mt-4">Seguro que queres borrar esto ?</div>
 <table class="table">
        <thead>
            <th scope="col">Descripcion</th>
            <th scope="col">Clase</th>
        </thead>
        <tbody>
            <tr>
                <th>{{subclase.descripcion}}</th>
                <td>{{subclase.clase}}</td>
            </tr>
        </tbody>    
    </table>
<form action="/subclases?_method=DELETE" method="POST" >
<input name="id" type="number" value="{{subclase.id}}" hidden required>
<button type="submit" class="btn btn-danger">Eliminar</button>
<a href="/subclases" class="btn btn-primary">Volver</a>
</form>
