<div style="padding-top: 10px"></div>
<h1>Subclases  <button data-target="#agregarModal" data-toggle="modal" class="btn btn-primary" rel="noopener noreferrer">+</button></h1>
<table class="table">
  <thead>
    <th scope="col">Nombre</th>
    <th scope="col">Clase</th>
    <th scope="col">Acciones</th>
  </thead>
  <tbody>
    {{#each result}}
    <tr>
      <td>{{this.descripcion}}</td>
      <td>{{this.clase}}</td>
      <!-- acciones aca -->
      <td>
        <a href="#" data-toggle="modal" data-target="#editar{{this.id}}"><i class="far fa-edit"></i></a>
        <!--editar-->
        <a href="#" data-toggle="modal" data-target="#eliminar{{this.id}}"><i class="fas fa-minus-circle"></i></a>
          {{!-- otras acciones mas --}}
        {{> subclase/eliminar this}}
      </td>
    </tr>
    {{/each}}

  </tbody>
</table>
</div>