<div style="padding-top: 10px"></div>
<h1>Subclases  <a href="/subclases/agregar" class="btn btn-success btn-primary" >+</a></h1>
<table class="table" id="datatable">
  <thead>
    <th scope="col">Nombre</th>
    <th scope="col">Clase</th>
    <th scope="col">Acciones</th>
  </thead>
  <tbody>
    {{#each result}}
    <tr>
      <td>{{this.descripcion}}</td>
      <td>{{this.clase}}</td>
      <!-- acciones aca -->
      <td>
        <a href="/subclases/editar/{{this.id}}"><i class="far fa-edit"></i></a>
        <!--editar-->
        <a href="subclases/eliminar/{{this.id}}"><i class="fas fa-minus-circle" style="color: red;"></i></a>
          {{!-- otras acciones mas --}}
      </td>
    </tr>
    {{/each}}

  </tbody>
</table>
</div>