<form class="pt-3" action="/clientes" method="POST">
  <div class="container">
    
    <div class="row pb-3">
      <div class="col-4">
        <label class="btn btn-secondary form-check-label">
          <input type="radio" name="tipo" id="existe" value="existe" autocomplete="off" required checked> Existente
        </label>
      </div>

      <div class="col-8">
        <select class="lista-cliente form-control" name='personaid'>
          {{#each clientes}}
            <option value="{{this.id}}">{{this.Persona.identificacion}} - {{this.Persona.nombre}} {{this.Persona.apellido}}</option>
          {{/each}}
        </select>
      </div>
    </div>

    
    <div class="row bg-light pt-3">
      <div class="col-4 d-flex">
        <label class="btn btn-secondary form-check-label align-self-center">
          <input type="radio" name="tipo" id="nuevo" value="nuevo" autocomplete="off" required> Nuevo
        </label>
      </div>
      <div class="col-8">
        {{> formCliente}}
      </div>
    </div>

    <div class="row">
      <label class="btn btn-secondary form-check-label">
        <input type="radio" name="tipoCliente" id="option1" value="Particular" autocomplete="off" required> Particular
    </label>

    <label class="btn btn-secondary form-check-label">
        <input type="radio" name="tipoCliente" id="option2" value="Institucional" autocomplete="off" > Institucional
    </label>
    </div>
    
    <div class="row">
      <button type="submit" class="btn btn-primary">Agregar Cliente!</button>
    </div>
  </div>
</form>

<script>
  $("#document").ready(function() {
    $(".form-cliente").each(function(){
       this.disabled = true;
    })
    $(".lista-cliente").each(function(){
        this.disabled = false;
    })
   });

  $("#existe").click(function(){
    $(".form-cliente").each(function(){
      this.disabled = true;
    })
    $(".lista-cliente").each(function(){
        this.disabled = false;
      })
  });

  $("#nuevo").click(function(){
      $(".lista-cliente").each(function(){
        this.disabled = true;
      })
       $(".form-cliente").each(function(){
        this.disabled = false;
      })
    });

</script> 