<div class="container">
  <form id="alta" action="/clientes" method="POST">
    <div class="card mt-4">
      <div class="card-header text-center bg-secondary text-white">
        <h1>Agregar cliente</h1>
      </div>
      <div class="card-body">
        <div class="tab-pane fade show active" id="nuevo" role="tabpanel" aria-labelledby="nuevo-tab">
          {{>persona/cliente cliente}}
        </div>
        <br>
        <div class="row justify-content-center p-3x">
          <label class="btn btn-secondary form-check-label mr-3">
            <input type="radio" name="tipoCliente" value="Particular" autocomplete="off" required>
            Particular
          </label>
          <label class="btn btn-secondary form-check-label ">
            <input type="radio" name="tipoCliente" value="Institucional" autocomplete="off" required>
            Institucional
          </label>
          <input id="altaLogica" name="altaLogica" type="checkbox" hidden>
        </div>
        <br>
        <!-- Botón de Agregar -->
        <div class="row justify-content-center">
          <div class="col-6 text-center">
            <button type="submit" class="btn btn-success btn-sm btn-block">Agregar Cliente</button>
          </div>
        </div>
      </div>
  </form>
</div>