<div class="container">
  <form action="/clientes" method="POST">
    <div class="card mt-4">
      <div class="card-header text-center bg-dark text-white">
        <h1>Agregar cliente</h1>
      </div>
      <div class="card-body">
          <div class="tab-pane fade show active" id="nuevo" role="tabpanel" aria-labelledby="nuevo-tab">
            {{>persona/cliente}}
          </div>
        <div class="row">
          <label class="btn btn-secondary form-check-label">
            <input type="radio" name="tipoCliente" value="Particular" autocomplete="off" required>
            Particular
          </label>
          <label class="btn btn-secondary form-check-label">
            <input type="radio" name="tipoCliente" value="Institucional" autocomplete="off">
            Institucional
          </label>
        </div>
        <div class="row">
          <button type="submit" class="btn btn-success form-control">Agregar Cliente</button>
        </div>
      </div>
  </form>
</div>



<script>

</script>