<div class="container">
  <form action="/clientes" method="POST">
    <div class="card mt-4">
      <div class="card-header text-center bg-dark text-white">
        <h1>Agregar cliente</h1>
      </div>
      <div class="card-body">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="nuevo-tab" data-toggle="tab" href="#nuevo" role="tab" aria-controls="nuevo" aria-selected="true">Nuevo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="existente-tab" data-toggle="tab" href="#existente" role="tab" aria-controls="existente" aria-selected="false">Existente</a>
          </li>
        </ul>
        <div class="tab-content">
          {{!--PESTAÑA NUEVO --}}
          <div class="tab-pane fade show active" id="nuevo" role="tabpanel" aria-labelledby="nuevo-tab">
            {{>persona/cliente}}
          </div>
          {{!-- PESTAÑA EXISTENTE --}}
          <div class="tab-pane fade" id="existente" role="tabpanel" aria-labelledby="existente-tab">
            Seleccione Persona:
            <select name="persona" class="persona form-control">
              {{#each noClientes}}
              <option value="{{this.id}}"> {{this.nombre }}
                {{this.apellido}} {{this.identificacion}}
              </option>
              {{/each}}
            </select>
          </div>
        </div>
        <div class="row">
          <label class="btn btn-secondary form-check-label">
            <input type="radio" name="tipoCliente" value="Particular" autocomplete="off" required>
            Particular
          </label>
          <label class="btn btn-secondary form-check-label">
            <input type="radio" name="tipoCliente" value="Institucional" autocomplete="off">
            Institucional
          </label>
        </div>
        <div class="row">
          {{!-- esto de abajo te dice si es nuevo o existente --}}
          <input type="hidden" name="tipo" id="Nuevo" value="existe" autocomplete="off" required hidden>
          <button type="submit" class="btn btn-success form-control">Agregar Cliente</button>
        </div>
      </div>
  </form>
</div>



<script>
  $(document).ready(() => {
    $("#existente-tab").click(function () {
      $("#tipo").val("Existente");
      $(".empleado").each(function () {
        this.required = false;
        this.disabled = true;
      });
    });
    $("#nuevo-tab").click(function () {
      $("#tipo").val("Nuevo")
      $(".empleado").each(function () {
        this.disabled = false;
        this.required = true;
      });
    });
  });
</script>