<h1>Editar Cliente</h1>
<form class="pt-3" action="/clientes?_method=PUT" method="POST">
   {{> persona/formCliente cliente}}

  <div class="row">
      <button type="submit" class="btn btn-primary">Editar Cliente</button>
      <a href="/clientes" class="btn btn-primary">Nah!</a>
  </div>
</form>

